.hide {
    display: none;
}

body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 15px;
}

table {
    display: block;
    width: 100%;
    overflow: auto;
    transition: all 1s;
}

table th {
    font-weight: 600;
}

table th,
table td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
}

table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
}

table tr:nth-child(2n) {
    background-color: #f6f8fa;
}

.tool {
    padding: 1em;
}

a {
    color: #333;
    text-decoration: none;
}

.copyright {
    font-size: 0.8em;
}

a img {
    width: 17px;
    height: 17px;
}

input[type='text'],
select {
    height: 22px;
    border: 1px solid;
}

::selection {
    color: #414141;
    background-color: rgba(0, 0, 0, 0.2);
}

.tool ul {
    white-space: pre;
    list-style: none;
    font-size: 0.9em;
    line-height: 1.55em;
    margin: 5px auto;
    padding-left: 0;
    display: inline-block;
    font-family: Consolas, Monaco, monospace;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    overflow: auto;
}

.tool > div {
    margin: 2em auto;
}

.tool ul > li {
    padding: 0 5px;
    cursor: pointer;
    transition: all 0.2s;
}
.tool input[type='button'] {
    display: block;
    margin-top: 1em;
}

.tool ul > li:hover {
    background-color: #ccc;
}

.tool ul > li.focus {
    background-color: #ddd;
}

span.page {
    margin-right: 20px;
    padding: 0 2px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
}

span.page:hover {
    background-color: #bbb;
}

audio::-internal-media-controls-download-button,
video::-internal-media-controls-download-button {
    display: none;
}

audio::-webkit-media-controls-enclosure,
video::-webkit-media-controls-enclosure {
    overflow: hidden;
}

audio::-webkit-media-controls-panel,
video::-webkit-media-controls-panel {
    width: calc(100% + 30px);
}
